
.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #61dafb;
    align-items: center;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid;
    border-color: cornsilk;
    margin: 2px;
    margin-left: 0;
    margin-right: 0;
}